<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
Hello,
  <br>This is a Website which generates random passwords for You</br>
  You can select Uppercase, Numbers And Specials Characters to be included in
      your password or not
  <br>
  <h1>Thank You for Visting</h1>
<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>
